<mat-card>
  <mat-card-content>
    <mat-card>
      <mat-card-content>
        <form>
          <app-input-text [required]="'required'" [form]="formLogin" [type]="'email'" [name]="'email'"
            [placeholder]="'Ingrese su email'">
          </app-input-text>
          <app-input-text [required]="'required'" [form]="formLogin" [type]="'password'" [name]="'password'"
            [placeholder]="'Ingrese su contraseña'">
          </app-input-text>
          <button type="button" mat-raised-button color="primary" (click)="login()">Ingresar</button>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
